
		@media only screen and (max-width: 768px) {
			.window_shape {
				width : 392px;
			}
			.label_shape {
				width : 324px;
			}
		}
		@media only screen and (min-width: 320px) {
			.window_shape {
				width : 300px;
				display : flex;
			}
			.label_shape {
				width : 280px;
				display : flex;
			}
		}
		.window_shape {
			width : 400px;
			border:white;
			border-radius:14px;
			border-shadow:5px 5px 5px 5px black;
		}
		.label_shape {
			border:solid 1px black;
			border-radius: 9px;
			padding : 24px;
			width : 326px;
			align-items : center;
			margin-top : 14px;
			
		}
		.btn1 {
			background-color : #5BA948;
			border : white;
			color : white;
			border-radius : 10px;
			text-align  : center;
			font-size : 14px;
			padding : 8px;
			width : 124px;
			display : flex;
  			justify-content: center;
		}
		.btn2 {
			background-color : white;
			border : solid 1px #9F9F9F;
			color : black;
			border-radius : 10px;
			font-size : 14px;
			text-align  : center;
			padding : 8px;
			width : 124px;
			display : flex;
			justify-content: center;
			margin-left : 12px;
		}