@charset "UTF-8";
/* Global styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
          
        }
        .container {
            width: 768px;
            margin: 0 auto;
            padding: 20px;
        }
        /* Button styles */
        .green-button {
		    background-color: #5BA948;
		    color: white;
		    padding-top: 13px;
		    border: none;
		    border-radius: 14px;
		    cursor: pointer;
		    align-items: center;
		    justify-content: center;
		    margin-top: 10px;
		    margin-left: auto;
		    margin-right: auto;
		    width: 46%;
		    font-size : 20px;
        }
        /* Selection tag and div tag styles */
      	.days {
            border: solid 1px black;
            border-radius: 12px;
            padding: 5px;
            margin: 5px 0;
            width: calc(50% - 10px);
        }
        /* Calendar and clock symbols styles */
        .symbol {
            font-size: 20px;
            margin-right: 5px;
        }
        /* days style */
        .days {
        	width:360px;
        	background: rgb(116,145,176);
			background: linear-gradient(45deg, rgba(116,145,176,1) 25%, rgba(54,91,134,1) 37%, rgba(39,79,124,1) 49%, rgba(61,98,139,1) 59%, rgba(199,216,232,1) 70%, rgba(23,65,113,0.969625350140056) 99%, rgba(49,87,131,1) 100%);
        	margin-bottom:14px;
        	margin-top:47px;
        	display : flex;
        	justify-content : left;
        	border : solid 1px #DBDBDB;
        	border-radius:9px;
        	padding : 40px;
        	padding-left : 12px;
        	margin-right : 32px;
        }
       .table-container {
            width: 100%;
            overflow-x: auto;
            padding: 8px; /* Add padding to cells */
            text-align : center;
        }
        /* Responsive styles */
        @media screen and (max-width: 768px) {
            select, .days {
                width: 100%;
            }
            .table-container {
	            width: 100%;
	            overflow-x: auto;
	            padding: 8px; /* Add padding to cells */
	            text-align : center;
	        }
            .container {
            	max-width : 768px;
            	width : 100%;
            	margin : auto;
            	padding : auto;
            }
            .green-button {
            	background-color: #5BA948;
			    color: white;
			    padding-top: 13px;
			    border: none;
			    border-radius: 14px;
			    cursor: pointer;
			    align-items: center;
			    justify-content: center;
			    margin-top: 10px;
			    margin-left: auto;
			    margin-right: auto;
			    width: 46%;
			    font-size : 20px;
            }
            .table-container {
	            width: 100%;
	            overflow-x: auto;
	            padding: 8px; /* Add padding to cells */
	            text-align : center;
	        }
        }
        @media screen and (max-width: 480px) {
            select, .days {
                width: 100%;
            }
            .container {
            	max-width : 480px;
            	width : 100%;
            	margin : auto;
            	padding : auto;
            }
            .green-button {
            	background-color: #5BA948;
			    color: white;
			    padding-top: 13px;
			    border: none;
			    border-radius: 14px;
			    cursor: pointer;
			    align-items: center;
			    justify-content: center;
			    margin-top: 10px;
			    margin-left: auto;
			    margin-right: auto;
			    width: 46%;
			    font-size : 20px;
            }
            
        }
        @media screen and (max-width: 320px) {
            select, .days {
                width: 100%;
            }
            .container {
            	max-width : 320px;
            	width : 100%;
            	margin : auto;
            	padding : auto;
            }
            .green-button {
            	background-color: #5BA948;
			    color: white;
			    padding-top: 13px;
			    border: none;
			    border-radius: 14px;
			    cursor: pointer;
			    align-items: center;
			    justify-content: center;
			    margin-top: 10px;
			    margin-left: auto;
			    margin-right: auto;
			    width: 46%;
			    font-size : 20px;
            }
            
        }
        