.spreadsheet-grid {
	margin-top: 1rem;
    width: auto;
    border-radius : 5px; /* Adjust the width as needed */
    border-collapse: collapse;
    border : 1px solid #ccd5ac;
}

.spreadsheet-grid th,
.spreadsheet-grid td {
    border: 2px grey;
    padding: 8px;
    align-items : center;
    justify-content : center;
    text-align: center;
}

.spreadsheet-grid th {
	border : 1px solid #ccd5ac;
    background-color: rgb(186, 224, 158); 
    font-weight: bold;
    width: 80px; /* Set the width of "Name" column */
}
.spreadsheet-grid td {
	border : 1px solid #ccd5ac;
    font-weight: bold;
    width: 80px; /* Set the width of "Name" column */
}

.spreadsheet-grid {
	background-color : white;
	border-collapse:collapse;
	border : 2px solid rgb(177, 214, 169);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80px; /* Set the width of other columns */
}
.z-column {
	color : blcak;
    padding: 0;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.z-column-content {
	background-color : green;
}
/* Responsive styles */
@media only screen and (max-width: 768px) {
    .spreadsheet-grid th,
    .spreadsheet-grid td {
        padding: 4px;
        max-width:786px;
        width:100%;
    }
}

@media only screen and (max-width: 480px) {
    .spreadsheet-grid th,
    .spreadsheet-grid td {
        padding: 2px;
        max-width:480px;
        width:100%;
    }
}

@media only screen and (max-width: 320px) {
    .spreadsheet-grid th,
    .spreadsheet-grid td {
        font-size: 12px;
        max-width:320px;
        width:100%;
    }
}
